.gcloudignore
.git
.gitignore

__pycache__/

.mypy_cache/

.pytest_cache/

.pylintrc

.vscode/

htmlcov/
.coverage/
.coverage*

tests/

README.md

tox.ini

scripts/

# Env files
.env
.development.env

Makefile

Pipfile*

LICENSE