[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
babel = "*"
jsonpointer = "*"
tqdm = "*"
requests = "*"
termcolor = "*"
jsonpath-rw = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pylint-quotes = "*"
black = "*"
pytest-cov = "*"
typed-ast = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = false
