[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
babel = "*"
jsonpointer = "*"
tqdm = "*"
requests = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pylint-quotes = "*"
black = "==19.10b0"
pytest-cov = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
